//eeddcb
//edc84c
.h-radialGradienStyle-1{
    background: radial-gradient(#eeddcb,#ffffff);
}

.bg-cover{
    background-position: center center;
    background-size: cover;
}

.circle-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/assets/images/reserve/male-1.svg);
    background-position: center center;
    background-size: cover;
    padding: 10px;
}