<footer class="footer d-flex flex-column align-items-center flex-lg-row justify-content-between  bg-grey1D py-9 px-3 py-lg-13 px-lg-18">
    <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="footer__contact mb-9 mb-lg-0 fs-8 d-flex flex-column  align-items-center align-items-lg-start">
            <img src="/assets/images/logo_white.svg" alt="OutfitPals" class="mb-3 mb-lg-4">
    
            <div class="footer__contact__info d-lg-flex flex-lg-column justify-content-lg-between">
    
                <div class="footer__contact__info__email mb-2 d-flex align-items-center">
                    <span class="me-3"></span>
                    <p>
                        utfitPals_Offical@gmail.com
                    </p>
                </div>
                <div class="footer__contact__info__phone d-flex align-items-center">
                    <span class="me-3"></span>
                    <p>
                        09-1234-5678
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__social mb-9 mb-lg-0 d-flex flex-column align-items-center">
            <p class="font-oswald mb-3 mb-lg-4 fs-4">FOLLOW&nbsp;&nbsp;US</p>
            <div class="footer__social__icons d-flex felx-row">
                <a href="#" class="me-7">
                    <img src="/assets/images/index/icon-facebook.svg" alt="Facebook">
                </a>
                <a href="#" class="me-7">
                    <img src="/assets/images/index/icon-instagram.svg" alt="Instagram">
                </a> 
                <a href="#">
                    <img src="/assets/images/index/icon-x.svg" alt="X">
                </a>
            </div>
        </div>
        <div class="footer__links d-flex flex-column align-items-center align-items-lg-end">
            <div class="footer__links__items mb-7 mb-lg-8 fs-8 align-items-center pt-2 mt-lg-2">
                <a href="./development.html" class="me-7">貼文牆總覽</a>
                <a href="./donate.html" class="me-7">贊助我們</a>
                <a href="./index.html#FAQ" class="me-7">常見問題</a>
                <a href="./reserve.html" class="me-7 me-lg-0">預約查詢</a>
            </div>
            <div class="footer__copyright fs-9 pb-2 ">Copyright © 2024 OutfitPals. All rights reserved.</div>
        </div>
    </div>
</footer>