<header class="header p-3 py-lg-7 px-lg-18 fs-7 sticky-top">
    <nav class="container d-flex justify-content-between align-items-center">
        <a href="index.html" class="header__logo">
            <img src="/assets/images/logo_white.svg" alt="OutfitPals">
        </a>

        <div class="header__links d-none d-lg-block">
            <a href="#">貼文牆</a>
            <a href="#">常見問題</a>
            <a href="#">贊助我們</a>
            <a href="#">我的預約</a>
            <a href="#" id="headerCta" type="button" class="header__links__button btn btn-outline-black18 m-0 ps-4">註冊登入 <span class="material-symbols-outlined">
                chevron_right
                </span> </a>
        </div>
        <button type="button" class="header__menu-btn border-0 p-2 d-lg-none">
            <span class="material-symbols-outlined">menu</span>
        </div>
    </nav>
</header>
<!-- 待桌機版完成後補行動版sidebar
<div  class="header-sidebar">
    <span class="material-symbols-outlined d-none"> close</span> 
</div> -->