<header class="header py-7 px-18 fs-7">
    <nav class="container d-flex justify-content-between align-items-center">
        <a href="index.html" class="header__logo">
            <img src="/assets/images/logo_white.svg" alt="OutfitPals">
        </a>
        <div class="header__links">
            <a href="#">貼文牆</a>
            <a href="#">常見問題</a>
            <a href="#">贊助我們</a>
            <a href="#">我的預約</a>
            <button type="button" class="btn btn-outline-black header__button ">註冊登入 <span class="material-symbols-outlined">
                chevron_right
                </span> </button>
        </div>
    </nav>
</header>