h1 {
    font-size: 36px;
}

.donate-detail{
  font-size: 20px;
}
.bg-qa{
  background-color: 
  #ffc13e29;
}

.accordion-button{
  background-color: 
  #54992f1f;
}

.FAQ__donateContent{
  width: auto;
}
.donate_card {
  background-image: url(/assets/images/donate/donate_background.JPG);
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative;
}
