.member{
    .gmailSignIn,.gmailSignUp{
        transition: all 0.4s ease;
    }
}
.member-signUpData{
    .profileImage:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    textarea{
        resize: none;
    }
}