.reserve{
    .multiline-ellipsis { 
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .btn-group{
        .active{
            border-color: $primary !important;
            background-color: $primary;
            color: $white !important;
        }
        .btn:active{
            border-color: $primary !important;
            background-color: $primary;
            color: $white !important;
        }
    }
    .reserve-content{
        img{
            width: 60px;
            height: 60px;
        }
        li.active{
            background-color: $greyE9;
        }
    }
    .reserve-dicuss{
        img{
            width: 80px;
            height: 80px;
        }
        textarea{
            resize: none;
            vertical-align: middle;
        }
    }
}
@include md{
    .reserve{
        .reserve-content{
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
}
@include lg{
    .reserve{
        .btn-group{
            .btn:hover{
                border-color: $primary !important;
                background-color: $primary;
                color: $white !important;
            }
        }
        .reserve-content{
            img{
                width: 80px;
                height: 80px;
            }
            li:hover{
                cursor: pointer;
                background-color: $greyD4 !important;
            }
        }
        .reserve-dicuss{
            img{
                width: 100px;
                height: 100px;
            }
            input,label:hover{
                cursor: pointer;
            }
        }
    }
}