<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <!-- customer -->
    <link rel="shortcut icon" href="../assets/images/outfitpals_logo.png" type="image/x-icon">
    <meta name="description" content="outfitpals wear design fashion popular">
    <meta name="keywords" content="outfitpals,wear,design,fashion,popular">
    <meta property="og:title" content="Outfit Pals">
    <meta property="og:description" content="Outfit Pals 你的穿搭好朋友">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/outfitpals/">
    <meta property="og:image" content="https://i.imgur.com/K5mbbMp.jpg">
    <link rel="apple-touch-icon" sizes="32x5" href="../assets/images/outfitpals_logo.png">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>我是about</h1>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
