<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>others</title>
    <!-- customer -->
    <link rel="shortcut icon" href="../assets/images/outfitpals_logo.png" type="image/x-icon">
    <meta name="description" content="outfitpals wear design fashion popular">
    <meta name="keywords" content="outfitpals,wear,design,fashion,popular">
    <meta property="og:title" content="Outfit Pals">
    <meta property="og:description" content="Outfit Pals 你的穿搭好朋友">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/outfitpals/">
    <meta property="og:image" content="https://i.imgur.com/K5mbbMp.jpg">
    <link rel="apple-touch-icon" sizes="32x5" href="../assets/images/outfitpals_logo.png">
  </head>
  <style>
    .png{
        display: none;
    }
  </style>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container   d-flex">
        <div class="circle-box  mt-3 me-3 userAvatar" style="width: 100px;height:100px ;">
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div class="display-6 d-flex align-items-center ms-3 userName">eric</div>   
    </div>
    <br><br>
    <div class="container d-flex flex-column justify-content-center mb-5">
        <!-- <div class="d-flex justify-content-center mb-8">
            <img src="/assets/images/create/image (1).png" class="" style="width: 500px; height: 600px;">
        </div> -->
        <div class="mb-3 d-flex flex-column align-items-center">
            <img class="upLoadPhoto object-fit-cover mb-3" src="/assets/images/create/image (1).png" alt="post pic" style="width: 350px;height: 450px;">
            <label for="upLoadImg" class="upLoadImg form-label text-secondary">上傳穿搭照片</label>
            <input class="form-control d-none" type="file" id="upLoadImg" accept="image/png,image/jpeg,image/gif,image/png">
          </div>
        <div class=" d-flex justify-content-center my-4 ms-5" >
                <span class="input-group-text border-0 bg-white" id="inputGroup-sizing-sm" >標題</span>
                <input type="text" class="form-control addTitle" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width: 430px;">
        </div>
        <div class=" d-flex justify-content-center mt-4 ms-5" >
            <span class="input-group-text border-0 bg-white" id="inputGroup-sizing-sm" >內文</span>
            <input type="text" class="form-control addBody" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width: 430px;">
        </div>
        <div class=" d-flex justify-content-center mt-4 me-1" >
            <span class="input-group-text border-0 bg-white" id="inputGroup-sizing-sm" >風格標籤</span>
            <input type="text" class="form-control addOutfitStyle" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width: 430px;"
            placeholder="複數風格請用空格分隔，例如：甜美 韓國">
        </div>
        <div class=" d-flex justify-content-center mt-4 me-1" >
            <span class="input-group-text border-0 bg-white" id="inputGroup-sizing-sm" >品牌標籤</span>
            <input type="text" class="form-control addBrands" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width: 430px;"
            placeholder="複數品牌請用空格分隔，例如：GU UQ">
        </div>
        <div class="d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-primary createPost">建立</button>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
<script type="module" src="../assets/js/create.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>


<!-- <a href="" class="stretched-link" for="#image_uploads">
    <input class="png" type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" >
</a> -->