<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    />
    <title>donate</title>
    <!-- customer -->
    <link rel="shortcut icon" href="../assets/images/outfitpals_logo.png" type="image/x-icon">
    <meta name="description" content="outfitpals wear design fashion popular">
    <meta name="keywords" content="outfitpals,wear,design,fashion,popular">
    <meta property="og:title" content="Outfit Pals">
    <meta property="og:description" content="Outfit Pals 你的穿搭好朋友">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/outfitpals/">
    <meta property="og:image" content="https://i.imgur.com/K5mbbMp.jpg">
    <link rel="apple-touch-icon" sizes="32x5" href="../assets/images/outfitpals_logo.png">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <div class="donate_card">
        <br /><br /><br />
        <div class="text-dark text-center">
          <h3 class="card-title mb-8 fw-bold fs-lg-2">響應捐款</h3>
          <div
            class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
          >
            <p class="card-text donate-detail">
              網站平台功能皆為免費，因經營需投入許多費用，
              如果你覺得本站所提供的服務有幫助到你，<br />
              可以以小額捐款的方式支持，讓平台能長久經營下去。
            </p>
            <div class="d-flex justify-content-center my-10">
              <a href="./donate_plan.html" class="btn btn-primary btn-lg"
                >立即捐款</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="FAQ" id="FAQ">
      <div
        class="p-4 container d-flex flex-column justify-content-center align-items-center flex-lg-row justify-content-lg-between align-items-lg-start"
      >
        <div
          class="FAQ__title d-flex flex-column align-items-center align-items-lg-start justify-content-lg-start mt-lg-13"
        >
          <h2 class="font-oswald fs-2 fs-lg-1 mb-2 fw-normal">FAQ</h2>
          <h3 class="fs-7 fw-bold fs-lg-6 mb-7">常見問題</h3>
        </div>
        <div class="FAQ__content p-4">
          <!-- Q1 -->
          <div class="FAQ__content__items">
            <div class="FAQ__content__items__question d-flex pb-4">
              <p class="fs-7 fs-lg-6 fw-bold me-1">Q.</p>
              <p class="fs-7 fs-lg-6 fw-bold flex-fill">可以用匯款的嗎？</p>
              <span class="material-symbols-outlined FAQ__chevron__left"
                >chevron_left</span
              >
            </div>
            <div class="FAQ__content__items__answer d-flex my-4">
              <p class="fs-7 fw-bold py-3 py-lg-7 ps-3 ps-lg-7">A.</p>
              <p class="fs-8 fs-lg-7 py-3 py-lg-7 pe-3 pe-lg-7">
                抱歉尚未開通此功能。
              </p>
            </div>
          </div>
          <!-- Q2 -->
          <div class="FAQ__content__items">
            <div class="FAQ__content__items__question d-flex pb-4">
              <p class="fs-7 fs-lg-6 fw-bold me-1">Q.</p>
              <p class="fs-7 fs-lg-6 fw-bold flex-fill">
                可以自己訂捐款金額嗎？
              </p>
              <span class="material-symbols-outlined FAQ__chevron__left"
                >chevron_left</span
              >
            </div>
            <div class="FAQ__content__items__answer d-flex my-4">
              <p class="fs-7 fw-bold py-3 py-lg-7 ps-3 ps-lg-7">A.</p>
              <p class="fs-8 fs-lg-7 py-3 py-lg-7 pe-3 pe-lg-7">
                可以，請前往下一頁。
              </p>
            </div>
          </div>
          <!-- Q3 -->
          <div class="FAQ__content__items">
            <div class="FAQ__content__items__question d-flex pb-4">
              <p class="fs-7 fs-lg-6 fw-bold me-1">Q.</p>
              <p class="fs-7 fs-lg-6 fw-bold flex-fill">如何取消？</p>
              <span class="material-symbols-outlined FAQ__chevron__left"
                >chevron_left</span
              >
            </div>
            <div class="FAQ__content__items__answer d-flex my-4">
              <p class="fs-7 fw-bold py-3 py-lg-7 ps-3 ps-lg-7">A.</p>
              <p class="fs-8 fs-lg-7 py-3 py-lg-7 pe-3 pe-lg-7">
                請與客服聯繫或將資料mail給我們，確認資料無誤，將退款給您。<br />
                Email:utfitPals_Offical@gmail.com<br />
                手機號碼:09-1234-5678
              </p>
            </div>
          </div>
          <!-- Q4 -->
          <div class="FAQ__content__items">
            <div class="FAQ__content__items__question d-flex pb-4">
              <p class="fs-7 fs-lg-6 fw-bold me-1">Q.</p>
              <p class="fs-7 fs-lg-6 fw-bold flex-fill">可以索取收據嗎？</p>
              <span class="material-symbols-outlined FAQ__chevron__left"
                >chevron_left</span
              >
            </div>
            <div class="FAQ__content__items__answer d-flex my-4">
              <p class="fs-7 fw-bold py-3 py-lg-7 ps-3 ps-lg-7">A.</p>
              <p class="fs-8 fs-lg-7 py-3 py-lg-7 pe-3 pe-lg-7">
                可以，後面會有頁面可以填寫收據的資料。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- bs5 js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <!-- own js -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="/assets/js/donate.js"></script>
  </body>
</html>
