<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OutfitPals-Member</title>
    <!-- customer -->
    <link rel="shortcut icon" href="../assets/images/outfitpals_logo.png" type="image/x-icon">
    <meta name="description" content="outfitpals wear design fashion popular">
    <meta name="keywords" content="outfitpals,wear,design,fashion,popular">
    <meta property="og:title" content="Outfit Pals">
    <meta property="og:description" content="Outfit Pals 你的穿搭好朋友">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bftsai.github.io/outfitpals/">
    <meta property="og:image" content="https://i.imgur.com/K5mbbMp.jpg">
    <link rel="apple-touch-icon" sizes="32x5" href="../assets/images/outfitpals_logo.png">
    <!-- gmail third party login -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- Include GSI library -->
    <script src="https://accounts.google.com/gsi/client"></script>
    <!-- google search console -->
    <meta name="google-site-verification" content="VxqdNnVZgIO2iNZ2V4qOyJiazw40ZYsbzuVfxetbYqc" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="spinner-border text-black18 d-none position-absolute memberSpinner" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="member h-radialGradienStyle-1 py-9 py-lg-13">
        <div class="member-index py-lg-25">
          <div class="container c-switch-btn-group">
            <div class="row justify-content-center py-9 py-lg-13">
              <div class="col col-lg-4">
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                  <button type="button" class="signInBtn btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 active">登入</button>
                  <button type="button" class="signUpBtn btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7">註冊</button>
                </div>
              </div>
            </div>
          </div>

          <div class="container border-bottom border-grey9F">
              <form class="needs-validation memberIndexForm" novalidate>
                  <div class="row justify-content-center align-items-center pb-7 pb-lg-13">
                      <div class="col-2 d-flex justify-content-center">
                          <label for="account" class="form-label fs-lg-5 fw-bold">帳號</label>
                      </div>
                      <div class="col-6">
                          <input type="text" class="form-control fs-lg-5 px-lg-7 py-lg-3" id="account" placeholder="請輸入Email" required>
                          <div class="invalid-feedback fs-lg-5">
                              請輸入您的Email
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center pb-7 pb-lg-13">
                      <div class="col-2 d-flex justify-content-center">
                          <label for="pwd" class="form-label fs-lg-5 fw-bold">密碼</label>
                      </div>
                      <div class="col-6">
                          <input type="password" class="form-control fs-lg-5 px-lg-7 py-lg-3" id="pwd" placeholder="請輸入密碼" required>
                          <div class="invalid-feedback fs-lg-5">
                              請輸入您的密碼
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                      <div class="col-6 col-lg-3 d-flex">
                          <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberIndexSubmit" type="submit">登入</button>
                      </div>
                      <div class="col-6 col-lg-3 d-flex">
                          <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberIndexCancel" type="button">取消</button>
                      </div>
                  </div>
              </form>
          </div>
          <!-- google third party login -->
          <div class="gmailSignIn container pt-9 pt-lg-13">
            <div class="row justify-content-center">
              <div class="col-7 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div id="g_id_onload"
                    data-client_id="570617244989-sbig4e3f3n0q0g1v4c730tct87fng698.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-nonce=""
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="filled_black"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>
              </div>
            </div>
          </div>
          <div class="gmailSignUp container pt-9 pt-lg-13 d-none">
            <div class="row justify-content-center">
              <div class="col-7 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div id="g_id_onload"
                    data-client_id="570617244989-sbig4e3f3n0q0g1v4c730tct87fng698.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-nonce=""
                    data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="filled_black"
                    data-text="signup_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="member-signUpData d-none opacity-0 position-relative">
          <div class="container">
            <form class="needs-validation memberSignUpForm" novalidate>
              <div class="row mb-3 fs-lg-5">
                <div class="col">
                  <div class="mb-3 d-flex flex-column align-items-center">
                    <img class="signUpPhoto mb-3" src="../assets/images/member/user-solid.svg" alt="profile pic" style="width: 80px;height: 80px;border-radius: 50%;">
                    <label for="signUpImg" class="signUpImg form-label text-secondary">選擇大頭貼</label>
                    <input class="form-control d-none" type="file" id="signUpImg" accept="image/png,image/jpeg,image/gif,image/png">
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5 fs-lg=5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpName" class="form-label">姓名</label>
                </div>
                <div class="col-lg-6">
                  <input type="name" name="name" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpName" placeholder="請輸入姓名" required>
                  <div class="invalid-feedback">
                    請輸入姓名
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpPwd" class="form-label">密碼</label>
                </div>
                <div class="col-lg-6">
                  <input type="password" name="pwd" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpPwd" placeholder="請輸入密碼" disabled>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpNickName" class="form-label">暱稱</label>
                </div>
                <div class="col-lg-6">
                  <input type="text" name="nick name" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpNickName" placeholder="請輸入暱稱" required>
                  <div class="invalid-feedback">
                    請輸入暱稱
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpBirth" class="form-label">生日</label>
                </div>
                <div class="col-lg-6">
                  <input type="date" name="birthday" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpBirth" placeholder="請輸入生日" required>
                  <div class="invalid-feedback">
                    請輸入生日
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpMail" class="form-label">電子信箱</label>
                </div>
                <div class="col-lg-6">
                  <input type="email" name="email" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpMail" placeholder="請輸入電子信箱" disabled>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpTel" class="form-label">手機號碼</label>
                </div>
                <div class="col-lg-6">
                  <input type="tel" name="tel" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpTel" placeholder="請輸入手機號碼" required>
                  <div class="invalid-feedback">
                    請輸入手機號碼
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <label for="signUpSex" class="form-label">性別</label>
                </div>
                <div class="col-lg-6">
                  <input class="form-check-input" type="radio" name="性別" id="signUpMale">
                  <label class="form-check-label" for="signUpMale" required>
                    男生
                  </label>
                  <input class="form-check-input" type="radio" name="性別" id="signUpFemale" checked required>
                  <label class="form-check-label" for="signUpFemale">
                    女生
                  </label>
                  <div class="invalid-feedback">
                    請選擇性別
                  </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpHeight" class="form-label">身高</label>
                </div>
                <div class="col-lg-6">
                  <input type="number" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpHeight" placeholder="請輸入身高" name="身高">
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpWeight" class="form-label">體重</label>
                </div>
                <div class="col-lg-6">
                  <input type="number" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpWeight" placeholder="請輸入體重" name="體重">
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpPopArea" class="form-label">活動範圍</label>
                </div>
                <div class="col-lg-6">
                  <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signUpPopArea" name="活動範圍">
                    <option selected disabled value="">請選擇活動範圍</option>
                    <option>台北市</option>
                    <option>新北市</option>
                    <option>桃園市</option>
                    <option>新竹市</option>
                    <option>台中市</option>
                    <option>苗栗市</option>
                    <option>台南市</option>
                    <option>高雄市</option>
                    <option>屏東市</option>
                    <option>宜蘭市</option>
                    <option>花蓮市</option>
                    <option>台東市</option>
                    <option>綠島</option>
                    <option>金門</option>
                    <option>馬祖</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpStyle" class="form-label">打扮風格</label>
                </div>
                <div class="col-lg-6">
                  <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signUpStyle" name="打扮風格">
                    <option selected disabled value="">請選擇打扮風格</option>
                    <option>日系</option>
                    <option>韓系</option>
                    <option>中國風</option>
                    <option>歐系</option>
                    <option>美系</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpOutfitPrice" class="form-label">穿搭價位</label>
                </div>
                <div class="col-lg-6">
                  <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signUpOutfitPrice" name="穿搭價位">
                    <option selected disabled value="">請選擇穿搭價位</option>
                    <option>$1,000 以下</option>
                    <option>$2,001～$3,000</option>
                    <option>$3,001～$4,000</option>
                    <option>$4,001～$5,000</option>
                    <option>$5,001～$6,000</option>
                    <option>無上限</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpLoveStore" class="form-label">逛街愛店</label>
                </div>
                <div class="col-lg-6">
                  <input type="text" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signUpLoveStore" placeholder="請輸入逛街愛店" name="逛街愛店">
                </div>
              </div>
              <div class="row justify-content-center align-items-start mb-3 fs-lg-5">
                <div class="col-lg-2 mb-3 mb-lg-0">
                  <span class="material-symbols-outlined" style="color: transparent;">
                    star
                  </span>
                  <label for="signUpIntroduce" class="form-label">自我介紹</label>
                </div>
                <div class="col-lg-6">
                  <textarea class="form-control fs-lg-5 py-lg-3 px-lg-7" name="自我介紹" id="signUpIntroduce" cols="30" rows="10" placeholder="請輸入自我介紹"></textarea>
                </div>
              </div>
              <div class="row justify-content-center align-items-start fs-lg-5">
                <div class="col-lg-8 d-flex align-items-center">
                  <span class="material-symbols-outlined fs-lg-5 me-2">
                    star
                  </span>
                  <span>為必填欄位</p>
                </div>
              </div>
              <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                <div class="col-6 col-lg-3 d-flex">
                    <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberSignUpSubmit" type="submit">註冊</button>
                </div>
                <div class="col-6 col-lg-3 d-flex">
                    <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberSignUpCancel" type="button">取消</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="member-signInProfile d-none opacity-0 position-relative">
          <div class="container">
            <div class="memberSignInProfileForm">

            </div>
          </div>
        </div>

        <div class="member-signInData d-none opacity-0">
          <div class="container">
            <form class="needs-validation memberSignInForm" novalidate>

              

            </form>
          </div>
        </div>
        
        <div class="container pagination justify-content-center d-none opacity-0">
          <nav aria-label="Page navigation">
            <ul class="pagination m-0">
              <li class="page-item">
                <a class="page-link page-prev border-black18 bg-black" href="#" aria-label="Previous">
                  <img src="../assets/images/components/Btn-Arrow-primary.svg" alt="pagination arrow">
                  <img src="../assets/images/components/Btn-Arrow-black.svg" alt="pagination arrow">
                </a>
              </li>
              <li class="page-item"><a class="page-link page-num py-lg-3 px-lg-7 border-black18 bg-black fs-6 fs-lg-5 active" href="#">1</a></li>
              <li class="page-item"><a class="page-link page-num py-lg-3 px-lg-7 border-black18 bg-black fs-6 fs-lg-5" href="#">2</a></li>
              <li class="page-item"><a class="page-link page-num py-lg-3 px-lg-7 border-black18 bg-black fs-6 fs-lg-5" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link page-next border-black18 bg-black" href="#" aria-label="Next">
                  <img src="../assets/images/components/Btn-Arrow-primary.svg" alt="pagination arrow">
                  <img src="../assets/images/components/Btn-Arrow-black.svg" alt="pagination arrow">
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
    
    <%- include('./layout/footer'); -%>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/96a7520586.js" crossorigin="anonymous"></script>
    <!-- own JS -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/member.js"></script>
    <script>
        //Data API
        const apiUrl='https://outfitpals-web-server.onrender.com/'; //render server
        // const apiUrl='http://localhost:3000/';
        //location url
        // const locationUrl='http://localhost:5173/outfitpals/pages/member.html';
        const locationUrl='https://bftsai.github.io/outfitpals/member.html';
        //spinner
        const spinner=document.querySelector('.spinner-border');
        //member pages
        const memberIndex=document.querySelector('.member-index');
        const memberIndexForm=document.querySelector('.memberIndexForm');
        const memberSignUpData=document.querySelector('.member-signUpData');
        const memberSignUpForm=document.querySelector('.memberSignUpForm');
        const memberSignInProfile=document.querySelector('.member-signInProfile');
        const memberSignInProfileForm=document.querySelector('.memberSignInProfileForm');
        const memberSignInData=document.querySelector('.member-signInData');
        const memberSignInForm=document.querySelector('.memberSignInForm');
        //signUp index
        //signIn signUp Btn
        const signInBtn=document.querySelector('.signInBtn');
        const signUpBtn=document.querySelector('.signUpBtn');
        const account=document.getElementById('account');
        const pwd=document.getElementById('pwd');
        //member signUp input
        const signUpImg=document.getElementById('signUpImg'); //input
        let signUpPhoto=document.querySelector('.signUpPhoto'); //image
        const signUpPwd=document.getElementById('signUpPwd');
        const signUpMail=document.getElementById('signUpMail');
        const signUpName=document.getElementById('signUpName');
        const signUpNickName=document.getElementById('signUpNickName');
        const signUpBirth=document.getElementById('signUpBirth');
        const signUpTel=document.getElementById('signUpTel');
        const signUpMale=document.getElementById('signUpMale');
        const signUpFemale=document.getElementById('signUpFemale');
        const signUpReservationTime=document.getElementById('signUpReservationTime');
        const signUpReservationLocation=document.getElementById('signUpReservationLocation');
        const signUpHeight=document.getElementById('signUpHeight');
        const signUpWeight=document.getElementById('signUpWeight');
        const signUpPopArea=document.getElementById('signUpPopArea');
        const signUpStyle=document.getElementById('signUpStyle');
        const signUpOutfitPrice=document.getElementById('signUpOutfitPrice');
        const signUpLoveStore=document.getElementById('signUpLoveStore');
        const signUpIntroduce=document.getElementById('signUpIntroduce');
        //member signIn
        const signInPhoto=document.querySelector('.signInPhoto') //img
        const signInImg=document.getElementById('signInImg') //input
        const signInName=document.querySelector('.signInName');
        const signInPwd=document.querySelector('.signInPwd');
        const signInNickName=document.querySelector('.signInNickName');
        const signInBirth=document.querySelector('.signInBirth');
        const signInMail=document.querySelector('.signInMail');
        const signInTel=document.querySelector('.signInTel');
        const signInMale=document.querySelector('.signInMale');
        const signInFemale=document.querySelector('.signInFemale');
        const signInReservationTime=document.querySelector('.signInReservationTime');
        const signInReservationLocation=document.querySelector('.signInReservationLocation');
        const signInHeight=document.querySelector('.signInHeight');
        const signInWeight=document.querySelector('.signInWeight');
        const signInPopArea=document.querySelector('.signInPopArea');
        const signInStyle=document.querySelector('.signInStyle');
        const signInOutfitPrice=document.querySelector('.signInOutfitPrice');
        const signInLoveStore=document.querySelector('.signInLoveStore');
        const signInIntroduce=document.querySelector('.signInIntroduce');
        //cookie
        function cookieValue(str) {  
            const cookieArr=document.cookie.split(';').find(item=>{
                if(item.split('=')[0].trim()===str){
                    return item;
                }
            });
            return cookieArr===undefined? undefined:cookieArr.split('=')[1];
        };
        //ajaxMemberGoogle
        const ajaxMemberGoogle={
            data:[],
            async register(obj){
                try {
                    const register=await axios.post(`${apiUrl}register`,obj);
                    if(register.status===201){
                        spinner.classList.add('d-none');
                        document.cookie=`outfitpalsToken=${register.data.accessToken}`;
                        document.cookie=`outfitpalsId=${register.data.user.id}`;
                        document.cookie=`outfitpalsThirdParty=${register.data.user['third party']}`;
                        document.cookie=`googleToken=${register.data.user.googleToken}`;
                        const outfitpalsId=Number(cookieValue('outfitpalsId'));
                        const outfitpalsToken=cookieValue('outfitpalsToken');

                        await this.patchUsers(outfitpalsId,outfitpalsToken,{
                          "sign time": new Date().toUTCString(),
                        });
                        await this.postPersonal();
                        signUpMail.value=obj.email;
                        signUpPwd.value=obj.password;
                        signUpPhoto.setAttribute('src',obj.image);
                        signUpName.value=obj.name;
                        signUpNickName.value=obj['nick name'];

                        memberIndex.classList.add('opacity-0');
                        setTimeout(() => {
                            account.value='';
                            pwd.value='';
                            memberIndex.classList.add('d-none');
                            memberSignUpData.classList.remove('d-none');
                            setTimeout(() => {
                                memberSignUpData.classList.remove('opacity-0')
                            }, 0);
                        }, 400);
                    }
                } catch (err) {
                  spinner.classList.add('d-none');
                    console.log(err);
                    alert('google 帳號已被使用');
                }
            },
            async postPersonal(){
                try {
                    const result=await axios.post(`${apiUrl}personal`,{
                        "isopen": false,
                        "userId": Number(cookieValue('outfitpalsId')),
                        "otherdate": [],
                        "pos1": "請填寫",
                        "pos2": "請填寫",
                        "pos3": "請填寫",
                        "pos4": "請填寫",
                        "okday":[],
                        "oktime":"12:00~12:00" ,
                    });
                    
                } catch (err) {
                    console.log(err.response);
                }
            },
            async patchUsers(id,token,obj){
                try {
                    spinner.classList.remove('d-none');
                    const patchUsers=await axios.patch(`${apiUrl}600/users/${id}`,obj,{
                        headers:{
                            "authorization": `Bearer ${token}`
                        }
                    });
                    spinner.classList.add('d-none');
                    //console.log(patchUsers);
                } catch (err) {
                    spinner.classList.add('d-none');
                    console.log(err);
                }
            },
            async signIn(obj){
                try {
                    spinner.classList.remove('d-none');
                    
                    const signIn=await axios.post(`${apiUrl}signin`,obj);
                    if(signIn.status===200){
                        document.cookie=`outfitpalsToken=${signIn.data.accessToken}`;
                        document.cookie=`outfitpalsId=${signIn.data.user.id}`;
                        document.cookie=`outfitpalsThirdParty=${signIn.data.user['third party']}`;
                        this.data=signIn.data.user;
                        spinner.classList.add('d-none');

                        memberIndex.classList.add('opacity-0');
                        setTimeout(() => {
                            account.value='';
                            pwd.value='';
                            memberIndex.classList.add('d-none');
                            memberSignInProfile.classList.remove('d-none');
                            setTimeout(() => {
                                memberSignInProfile.classList.remove('opacity-0')
                            }, 0);
                        }, 400);
                        location.href=`https://bftsai.github.io/outfitpals/member.html`;
                  }
                } catch (err) {
                    spinner.classList.add('d-none');
                    alert(err.response.data);
                }
            },
            async signOut(){
                spinner.classList.remove('d-none');
                document.cookie=`outfitpalsToken= ''`;
                document.cookie=`outfitpalsId= ''`;
                document.cookie=`outfitpalsThirdParty= ''`;
                location.href=locationUrl;
                spinner.classList.add('d-none');
            },
            async renderMemberSignInProfileForm(){
                try {
                  const outfitpalsId=Number(cookieValue('outfitpalsId'));
                  const outfitpalsToken=cookieValue('outfitpalsToken');
                  spinner.classList.remove('d-none');
                  this.data=(await axios.get(`${apiUrl}600/users/${outfitpalsId}`,{
                      headers:{
                          "authorization": `Bearer ${outfitpalsToken}`
                      }
                  })).data;
                  spinner.classList.add('d-none');
                  let str=`
                  <div class="row mb-3 fs-lg-5">
                      <div class="col">
                          <div class="mb-3 d-flex flex-column align-items-center">
                              <img class="mb-3" src="${this.data.image}" alt="profile pic" style="width: 80px;height: 80px;border-radius: 50%;">
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5 fs-lg=5">
                      <div class="col-4 col-lg-2">
                          <p>姓名</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.name}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>密碼</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">********</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>暱稱</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data['nick name']}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>生日</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.birthday}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>電子信箱</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.email}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>手機號碼</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.tel}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>性別</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.sex}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>身高</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.height}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>體重</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.weight}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>活動範圍</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.PopArea}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>打扮風格</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.style}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>穿搭價位</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data['outfit price']}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>逛街愛店</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data['love store']}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center align-items-start mb-3 fs-lg-5">
                      <div class="col-4 col-lg-2">
                          <p>自我介紹</p>
                      </div>
                      <div class="col-6 col-lg-4 col-xl-3">
                          <p class="fs-lg-5">${this.data.introduce}</p>
                      </div>
                  </div>
                  <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                      <div class="col-6 col-sm-3 d-flex">
                          <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberSignInProfileRevise" type="button">修改</button>
                      </div>
                  </div>
                  <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                      <div class="col-6 col-sm-3 d-flex">
                          <a href='personal.html' class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberMainPage" type="button">我的主頁</a>
                      </div>
                  </div>
                  <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                      <div class="col-6 col-sm-3 d-flex">
                          <a href="personal.html?page=1" class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberCollect" type="button">我的收藏</a>
                      </div>
                  </div>
                  <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                      <div class="col-6 col-sm-3 d-flex">
                          <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberSignOut" type="button">登出</button>
                      </div>
                  </div>`;
                  memberSignInProfileForm.innerHTML=str;
                  memberSignInProfileForm.addEventListener('click',e=>{
                      //revise profile
                      if(e.target.className.includes('memberSignInProfileRevise')){
                        this.renderMemberSignInForm();
                        memberSignInProfile.classList.add('opacity-0');
                        setTimeout(() => {
                          memberSignInProfile.classList.add('d-none');
                          memberSignInData.classList.remove('d-none');
                          setTimeout(() => {
                              memberSignInData.classList.remove('opacity-0');
                          }, 0);
                        }, 400);
                      }
                  });
                  const memberSignOut=document.querySelector('.memberSignOut');
                  memberSignOut.addEventListener('click',e=>{
                      e.preventDefault();
                      this.signOut();
                  });
                }
                catch (err) {
                    console.log(err);
                }
            },
            renderMemberSignInForm(){
                let str=`
                <div class="row mb-3 fs-lg-5">
                    <div class="col">
                    <div class="mb-3 d-flex flex-column align-items-center">
                        <img class="signInPhoto mb-3" src="${this.data.image}" alt="profile pic" style="width: 80px;height: 80px;border-radius: 50%;">
                        <label for="signInImg" class="signInImg form-label text-secondary">選擇大頭貼</label>
                        <input class="form-control d-none" type="file" id="signInImg" accept="image/png,image/jpeg,image/gif,image/png">
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5 fs-lg=5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInName" class="form-label">姓名</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="name" name="name" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInName" placeholder="請輸入姓名" value="${this.data.name}" required>
                    <div class="invalid-feedback">
                        請輸入姓名
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInPwd" class="form-label">密碼</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="password" name="pwd" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInPwd" placeholder="請輸入密碼" value="${this.data['g-pwd']}" disabled>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInNickName" class="form-label">暱稱</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="text" name="nick name" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInNickName" placeholder="請輸入暱稱" value="${this.data['nick name']}" required>
                    <div class="invalid-feedback">
                        請輸入暱稱
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInBirth" class="form-label">生日</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="date" name="birthday" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInBirth" placeholder="請輸入生日" value="${this.data.birthday}" required>
                    <div class="invalid-feedback">
                        請輸入生日
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInMail" class="form-label">電子信箱</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="email" name="email" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInMail" placeholder="請輸入電子信箱" value="${this.data.email}" disabled>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInTel" class="form-label">手機號碼</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="tel" name="tel" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInTel" placeholder="請輸入手機號碼" value="${this.data.tel}" required>
                    <div class="invalid-feedback">
                        請輸入手機號碼
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInSex" class="form-label">性別</label>
                    </div>
                    <div class="col-lg-6">
                    <input class="form-check-input" type="radio" name="性別" id="signInMale" ${this.data.sex==='Male'? 'checked':''}>
                    <label class="form-check-label" for="signInMale" required>
                        男生
                    </label>
                    <input class="form-check-input" type="radio" name="性別" id="signInFemale" ${this.data.sex==='Female'? 'checked':''}>
                    <label class="form-check-label" for="signInFemale">
                        女生
                    </label>
                    <div class="invalid-feedback">
                        請選擇性別
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInReservationTime" class="form-label">開放預約時間</label>
                    </div>
                    <div class="col-lg-6">
                    <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signInReservationTime" name="開放預約時間" required>
                        <option value="" disabled>請選擇開放預約時間</option>
                        <option>無</option>
                        <option>09：00～12：00</option>
                        <option>13：00～17：00</option>
                        <option>18：00～22：00</option>
                    </select>
                    <div class="invalid-feedback">
                        請選擇開放預約時間
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 d-flex align-items-center mb-3 mb-lg-0">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <label for="signInReservationLocation" class="form-label">開放預約地點</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="text" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInReservationLocation" placeholder="請輸入開放預約地點" name="開放預約地點" value="${this.data['reservation location']}" required>
                    <div class="invalid-feedback">
                        請輸入開放預約地點
                    </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInHeight" class="form-label">身高</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="number" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInHeight" placeholder="請輸入身高" name="身高" value="${this.data.height}">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInWeight" class="form-label">體重</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="number" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInWeight" placeholder="請輸入體重" name="體重" value="${this.data.weight}">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInPopArea" class="form-label">活動範圍</label>
                    </div>
                    <div class="col-lg-6">
                    <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signInPopArea" name="活動範圍">
                        <option value="" disabled>請選擇活動範圍</option>
                        <option>台北市</option>
                        <option>新北市</option>
                        <option>桃園市</option>
                        <option>新竹市</option>
                        <option>台中市</option>
                        <option>苗栗市</option>
                        <option>台南市</option>
                        <option>高雄市</option>
                        <option>屏東市</option>
                        <option>宜蘭市</option>
                        <option>花蓮市</option>
                        <option>台東市</option>
                        <option>綠島</option>
                        <option>金門</option>
                        <option>馬祖</option>
                    </select>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInStyle" class="form-label">打扮風格</label>
                    </div>
                    <div class="col-lg-6">
                    <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signInStyle" name="打扮風格">
                        <option value="" disabled>請選擇打扮風格</option>
                        <option>日系</option>
                        <option>韓系</option>
                        <option>中國風</option>
                        <option>歐系</option>
                        <option>美系</option>
                    </select>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInOutfitPrice" class="form-label">穿搭價位</label>
                    </div>
                    <div class="col-lg-6">
                    <select class="form-select fs-lg-5 py-lg-3 px-lg-7" id="signInOutfitPrice" name="穿搭價位">
                        <option value="" disabled>請選擇穿搭價位</option>
                        <option>$1,000 以下</option>
                        <option>$2,001～$3,000</option>
                        <option>$3,001～$4,000</option>
                        <option>$4,001～$5,000</option>
                        <option>$5,001～$6,000</option>
                        <option>無上限</option>
                    </select>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInLoveStore" class="form-label">逛街愛店</label>
                    </div>
                    <div class="col-lg-6">
                    <input type="text" class="form-control fs-lg-5 py-lg-3 px-lg-7" id="signInLoveStore" placeholder="請輸入逛街愛店" name="逛街愛店" value="${this.data['love store']}">
                    </div>
                </div>
                <div class="row justify-content-center align-items-start mb-3 fs-lg-5">
                    <div class="col-lg-2 mb-3 mb-lg-0">
                    <span class="material-symbols-outlined" style="color: transparent;">
                        star
                    </span>
                    <label for="signInIntroduce" class="form-label">自我介紹</label>
                    </div>
                    <div class="col-lg-6">
                    <textarea class="form-control fs-lg-5 py-lg-3 px-lg-7" name="自我介紹" id="signInIntroduce" cols="30" rows="10" placeholder="請輸入自我介紹">${this.data.introduce}</textarea>
                    </div>
                </div>
                <div class="row justify-content-center align-items-start fs-lg-5">
                    <div class="col-lg-8 d-flex align-items-center">
                    <span class="material-symbols-outlined fs-lg-5 me-2">
                        star
                    </span>
                    <span>為必填欄位</p>
                    </div>
                </div>
                <div class="row justify-content-center py-9 py-lg-13 c-confirm-btn-group">
                    <div class="col-6 col-lg-3 d-flex">
                        <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberSignInReviseSubmit" type="submit">修改</button>
                    </div>
                    <div class="col-6 col-lg-3 d-flex">
                        <button class="btn btn-black18 fs-lg-5 text-primary py-lg-3 px-lg-7 flex-grow-1 memberSignInReviseCancel" type="button">取消</button>
                    </div>
                </div>`;
                memberSignInForm.innerHTML=str;
                document.getElementById('signInReservationTime').selectedIndex=this.data['reservation time selectedIndex'];
                document.getElementById('signInPopArea').selectedIndex=this.data['PopArea selectedIndex'];
                document.getElementById('signInStyle').selectedIndex=this.data['style selectedIndex'];
                document.getElementById('signInOutfitPrice').selectedIndex=this.data['outfit price selectedIndex'];

                const signInImg=document.getElementById('signInImg');
                const signInPhoto=document.querySelector('.signInPhoto');

                signInImg.addEventListener('change',e=>{
                    let reader=new FileReader();
                    reader.addEventListener('load',e=>{
                        signInPhoto.setAttribute('src',e.target.result);
                    });
                    reader.readAsDataURL(e.target.files[0]);
                });
            },
        };
        // Google third party login
        function onSignIn(response){
          spinner.classList.remove('d-none');
          var base64Url = response.credential.split('.')[1];
          var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
          var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          }).join(''));
          
          spinner.classList.add('d-none');

          let signObj={};
          signObj.email=JSON.parse(jsonPayload).email;
          signObj.password=`Google${JSON.parse(jsonPayload).sub}`;
          signObj.googleToken=response.credential;
          if(signInBtn.className.includes('active')){
              ajaxMemberGoogle.signIn(signObj);
          }else{
              signObj['g-pwd']=`Google${JSON.parse(jsonPayload).sub}`;
              signObj.image=JSON.parse(jsonPayload).picture;
              signObj.name=JSON.parse(jsonPayload).name;
              signObj['nick name']=JSON.parse(jsonPayload).given_name;
              signObj['third party']='google';

              ajaxMemberGoogle.register(signObj);
          }
      };
    </script>
  </body>
</html>
